<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>this is home page</title>
</head>
<body>
	<section>
		<div class="card mr-3">
		
			<div class="card-body">
			
				<h1 class="text-center">Update Your Contact</h1>
				
				<div class="container-fluid mt-1">
				
				<div class="row">
					
					<div class="col-md-8 offset-md-2">
					
						<form 	action="#" 
								th:object="${contact}"
								enctype="multipart/form-data"
								method="POST"
								th:action="@{/user/process-update}"
								class="mt-2"
						>
						
						<input type="hidden" th:value="${contact.cId}" name="cId" />
						
						<!-- First Name -->
						<div class="input-group">
							
							<div class="input-group-prepend">
								
								<div class="input-group-text">
									
									<i class="fa fa-plus"></i>
									
								</div>
								
							</div>
							<input th:value="${contact.firstName}" type="text" id="firstName" name="firstName" placeholder="Enter your first name here" class="form-control" required/>
						</div>	
						
						<!-- Last Name -->	
						<div class="input-group mt-3">
							
							<div class="input-group-prepend">
								
								<div class="input-group-text">
									
									<i class="fa fa-user-alt"></i>
									
								</div>
								
							</div>
							<input th:value="${contact.lastName}" type="text" id="lastName" name="lastName" placeholder="Enter your last name here" class="form-control" required />
						</div>
						
						<!-- Email Field-->
						<div class="input-group mt-3">
							
							<div class="input-group-prepend">
								
								<div class="input-group-text">
									
									@
									
								</div>
								
							</div>
							<input th:value="${contact.email}" type="email" id="email" name="email" placeholder="Enter your email address here" class="form-control" required/>
						</div>
						
						<!-- Date of Birth Field -->
						<div class="row form-group mt-3">
			                <label for="date" class="col-sm-1 col-form-label">Date</label>
			                <div class="col-sm-4">
			                    <div class="input-group date" id="datepicker">
			                        <input type="text" class="form-control">
			                        <span class="input-group-append">
			                            <span class="input-group-text bg-white">
			                                <i class="fa fa-calendar"></i>
			                            </span>
			                        </span>
			                    </div>
			                </div>
			            </div>

								
							
						<!-- Department -->
						<div class="input-group mt-3">
							
							<div class="input-group-prepend">
								
								<div class="input-group-text">
									
									<i class="fas fa-tags"></i>
									
								</div>
								
							</div>
							<input th:value="${contact.department}" type="text" id="department" name="department" placeholder="Enter your work department here" class="form-control" required/>
						</div>	
							
						<!-- Job Title Field -->
						<div class="input-group mt-3">
							
							<div class="input-group-prepend">
								
								<div class="input-group-text">
									
									<i class="fa fa-briefcase"></i>
									
								</div>
								
							</div>
							<input th:value="${contact.jobTitle}" type="text" id="jobTitle" name="jobTitle" placeholder="Enter your job title here" class="form-control" required/>
						</div>
							
					<div class="col-md-4 mt-3">
						
					    <select class="form-select" id="prefecture" name="prefecture" >
					      <option  value="">Select the prefecture</option>
					      <option>1</option>
					      <option>2</option>
					      <option>3</option>
					    </select>
					  </div>
												
						<div class="container text-center">
							<button class="btn btn-outline-primary">Save Details</button>	
						</div>		
						
						
						</form>	
						
					</div>
					
				</div>
					
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>